.card-enhanced{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s;
    cursor: pointer;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.dropdown-scroll{
    max-height:400px;
    overflow-y:auto;
}

.dropdown-section{
    background-color: #12263F;
}

.colored{
    color:#6e84a3;
}

.colored-black{
    color: #0d1c2f;
}

.card-enhanced:hover{
    transform: scale(1.02);
}

.bb-tooltip td {
    color: #222;
}

#graph1 .line-thicker {
    stroke-width: 2px;
}

#graph3 .line-slightly-thicker {
    stroke-width: 1.5px;
}

#graph4 .line-slightly-thicker {
    stroke-width: 1.5px;
}

#graph5 .line-slightly-thicker {
    stroke-width: 1.5px;
}

#partialVaccinationSparkGraph .line-dash {
    stroke-dasharray: 3 4;
}

#completeVaccinationSparkGraph .line-dash {
    stroke-dasharray: 3 4;
}

.graph-small{
    width: 80px;
    height: 42px;
}

.graph-small2{
    width: 80px;
    height: 72px;
}

.graph-modal{
    max-height: 80vh;
}

.card-footer{
    border-top: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}

.card-body-custom{
    padding: 0rem 1rem;
    margin-top: 1rem;
}

@media (max-height: 567px) {
    .graph{
        height: 60vh;
    }
}
@media (min-height: 568px) {
    .graph{
        height: 40vh;
    }
}
@media (min-height: 768px) {
    .graph{
        height: 35vh;
    }
}
