$body-bg: #12263F;
$dark: #152E4D;
$primary: #2c7be5;
$secondary: #6e84a3;
$success: #00D97E;
$warning: #F6C343;
$danger: #E63757;
$info: #39afd1;


@import "../node_modules/bootstrap/scss/bootstrap";
